@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #37352f;
  --backgroundSecondary: rgb(248, 248, 247);
  --backgroundTertiary: rgb(240, 240, 239);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(25, 25, 25);
    --backgroundSecondary: rgb(32, 32, 32);
    --backgroundTertiary: rgb(40, 40, 40);
    --foreground: #ebebeb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
